<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,500,0,0" />
    <link rel="stylesheet" href="../Static/Styles/main.css">
    <title>Ledger | Home</title>
</head>
<body>
    <div class="header">
        <a href="./transactions.html"><span class="material-symbols-rounded">
            arrow_forward
            </span></a>
        <h1>Performance</h1>
    </div>

    <div class="performance">
        <div class="this_month per_card">
            <h1>This Month</h1>
            <p><span>Balance: </span> Rs 20000</p>
            <p><span>Income: </span> Rs 41000</p>
            <p><span>Expense: </span> Rs 21000</p>
        </div>
        <div class="overall per_card">
            <h1>Overall</h1>
            <p><span>Balance: </span> Rs 20000</p>
            <p><span>Income: </span> Rs 41000</p>
            <p><span>Expense: </span> Rs 21000</p>
        </div>
    </div>
    
    <script src="../main.js"></script>
</body>
</html>