<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Styles/main.css">
    <title>Ledger | Transactions</title>
</head>
<body>
    <a href="./home.html"><- Home</a>
    
    <div class="form">
        <input type="text" id="input" placeholder="Amount">
        <div class="dropdown">
            <span>Type</span>
            <div class="drop_items">
                <div><a href="#">Credit</a></div>
                <div><a href="#">Debit</a></div>
            </div>
        </div>
        <a href="#" class="transaction_btn">Create Transaction</a>
    </div>

</body>
</html>