<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Styles/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,500,0,0" />
    <title>Ledger | Transactions</title>
</head>
<body>
    <div class="header">
        <a href="./home.html"><span class="material-symbols-rounded">
            arrow_back
            </span></a>
        <h1>Transactions</h1>
    </div>
    
    <div class="form">
        <input type="text" id="input" autocomplete="off" placeholder="Amount">
        <div class="dropdown">
            <span>Type</span>
            <div class="drop_items">
                <div><a href="#" onclick="toCredit()">Credit</a></div>
                <div><a href="#" onclick="toDebit()">Debit</a></div>
            </div>
        </div>
        <a href="#" class="transaction_btn" onclick="addTransaction()">Create Transaction</a>
    </div>

    <div id="main"></div>

    <script src="../main.js"></script>
</body>
</html>